@import './styles/variables';

body {
  margin: 0;
  padding: 0;
  background-color: $white;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-color: $white;

  .app-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .app-header {
    height: $header-height;
    display: flex;
    align-items: center;
    padding: 0 $padding-standard;
    font-size: 14px;
    position: relative;
    background-color: $primary-color;
    flex-shrink: 0;

    &__container {
      display: flex;
      align-items: center;
      width: 100%;
      position: relative;
    }

    &__title {
      margin: 0;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: auto;
      color: $white;
    }
  }

  .input-form {
    height: $input-form-height;
    display: flex;
    align-items: center;
    gap: $padding-standard;
    padding: $padding-small $padding-standard;
    position: relative;
    background-color: $white;
    flex-shrink: 0;

    &__input-container {
      flex: 3;
    }

    &__button-container {
      flex: 1;
    }
  }

  .table-container {
    flex: 1;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  .bottom-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    background-color: $secondary-color;
    z-index: $z-index-menu;
  }
}
